{% extends 'accounts/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>로그인 Login</h5>
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-hover table-bordered">
                    {{form.as_table}}
                </table>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}

