{% extends 'accounts/layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>로그아웃 되었습니다.</h3>
            <h4>로그아웃</h4>


        </div>
    </div>
</div>
{% endblock %}
