{% extends 'accounts/layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{user}}'s Profile'</h3>
            <h4>주문내역</h4>


        </div>
    </div>
</div>
{% endblock %}
