{% extends 'shop/layout.html' %}
    {% block content %}
<div class="container">
    <div class="row">
        {% for category in category_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                {% if category.icon %}
                    <img class="card-img-top" src="{{category.icon.url}}" />
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{category.name}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{category.get_absolute_url}}" class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
    {% endblock %}
        </div>
    </div>
</div>