{% extends 'shop/layout.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>리뷰를 작성해 주세요!</h5>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
             <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>


{% endblock %}