{% extends 'shop/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{shop.name}}</h2>

            <div id="map_view" style="width:500px; height:300px;"></div>
            <img src="https://openapi.naver.com/v1/map/staticmap.bin?clientId={{settings.NAVER_MAP_CLIENT_ID}}&url=http://127.0.0.1:8000&crs=EPSG:4326&center={{shop.meta.lng}},{{shop.meta.lat}}&level=8&w=320&h=320&baselayer=default&markers={{shop.meta.lng}},{{shop.meta.lat}}" alt="">
            <table>

                <tr><th>주소</th><td>{{shop.meta.address}}</td></tr>
                <tr><th>배달비</th><td>{{shop.meta.delivery_fee_explanation}}</td></tr>
                <tr><th>최소주문금액 </th><td>{{shop.meta.min_order_amount}}원</td></tr>
                <tr><th>위도</th><td>{{shop.meta.lat}}</td></tr>
                <tr><th>경도</th><td>{{shop.meta.lng}}</td></tr>
                <tr><th>전화번호</th><td><a href="tel:{{shop.meta.phone}}">{{shop.meta.phone}}</a></td></tr>
            </table>
            <hr>


            <table class="table table-bordered table-hover" id="item-list">
                <tbody>
                    {% for item in shop.item_set.all %}
                    <tr class="item" data-item-id="{{item.id}}">
                        <td>
                            {% if item.photo %}
                            <img src="{{item.photo.url}}" style="width:144px;"/>
                            {% endif %}
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.desc}}</td>

                        <td>{{item.amount}}</td>

                        <td>{{item.is_public}}</td>
                        <td>
                            <i class="factor-button fa fa-minus-circle" data-factor="-1"></i>
                            <span class="quantity">0</span>
                            <i class="factor-button fa fa-plus-circle" data-factor="1"></i>
                        </td>


                    </tr>

                    {% endfor %}

                </tbody>
            </table>
            <h5>@ 리뷰 확인하기 Review</h5>
            <a href="{% url "shop:review_new" shop.pk %}" class ="btn btn-primary">리뷰쓰기 Review</a>

            <table>
                <tbody>
                    {% for review in shop.review_set.all  %}
                    <tr>
                        <td>{{ review.author }} : </td>
                        <td>{{ review.message }}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    <hr/>
    <a href="{% url 'shop:index' %}">메인화면으로 </a> |
    <a href="{{shop.category.get_absolute_url}}">{{shop.category.name}} 카테고리로 돌아가기</a>
</div>


{% endblock %}

{% block extra-body %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    $(function() {
        $('#item-list .item .factor-button').click(function() {
            var $el = $(this).siblings('.quantity');
            var factor = parseInt($(this).data('factor'));
            var quantity = parseInt($el.html()) + factor;
            if (quantity < 0) quantity = 0;
            $el.html(quantity);
        })
    });

    $('#order-button').click(function() {
        var mapped = _.map($('#item-list .item'), function(item) {
            var item_id = $(item).data('item-id');
            var quantity = $(item).find('.quantity').html();
            return {item_id: item_id, quantity: quantity};
        });

        var filtered = _.filter(mapped, function(item) {
            return item.quantity > 0;
        });

        if (filtered.length >0) {
            var args = $.param(_.object(_.map(filtered, _.values)));
            var url = $(this).attr('href')+'?'+args;
            $(this).attr('href', url);
            return true;
        } else {
            alert('상품 수량을 선택해주세요');
        }
        return false;
    })
    foodmap();
    function foodmap() {


			var lat	= {{shop.meta.lat}}
			var lng	= {{shop.meta.lng}}

			var zoomlv= 16;

			var markerTitle		= "{{shop.name}}";
			var markerMaxWidth	= 300;


			var contentString	= '<div>' +
			'<h5>'+'{{shop.name}}'+'<h5>'+
			'</div>';

			var myLatlng = new google.maps.LatLng(lat, lng);
			var mapOptions = {
								zoom: zoomlv,
								center: myLatlng,
								mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

			var marker = new google.maps.Marker({
													position: myLatlng,
													map: map,
													title: markerTitle
			});

			var infowindow = new google.maps.InfoWindow(
														{
															content: contentString,
															maxWidth: markerMaxWidth
														}
			);

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map, marker);
			});
		}
</script>
{% endblock %}
