{%  load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset = "utf-8"/>
    <title> My Food App </title>
    <link rel="stylesheet" href="/static/bootstrap-4.0.0/css/cosmos/bootstrap.min.css"/>


    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

</head>
<body>
    <header class="mb-3">
       <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-2 bg-light border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'shop:index' %}">MY FOOD APP</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            <a class="p-2 text-dark" href="{% url 'accounts:profile' %}">프로필 Profile</a>
            <a class="p-2 text-dark" href="{% url 'accounts:logout' %}">logout</a>


        {% endif %}
      </nav>
      {% if not user.is_authenticated %}
          <a class="btn btn-outline-primary mr-1" href="{% url 'accounts:login' %}">로그인</a>
          <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">회원가입</a>
      {% endif %}
    </div>
    </header>

    {% block content %}
    {%  endblock %}

       <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    FoodApp
                </div>

            </div>
        </div>
        {% block extra-body %}
        {% endblock %}
    </body>
</html>

